/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
	--background: #fafafa;
	--background-secondary: #fff;
	--text: #333;
	--text-secondary: #999;
	--border: rgba(0, 0, 0, 0.1);
	--blue: #03a1fc;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important; 
	
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	color: var(--text);

	background: var(--background);
}

/* container que alinha ao centro */
.container {
	margin: 0 auto;
	position: relative;

	padding: 0 10px;
	width: 100%;
	min-width: 320px;
}

/* para divs com space between */
.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* icons */
.icon {
	width: 24px;
  height: 24px;
  stroke: var(--text);
  stroke-width: 1.3; 
}

.icon--send {
	transform: rotateZ(18deg);
}

.icon--comment {
	margin: 0 10px;
	transform: rotateY(180deg);
}

.icon--like {
	height: 12px;
	width: 12px;
	stroke: var(--text-secondary);
}

/* storie profile (background linear) */
.stories__profile {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 58px; 
	width: 58px; 
	margin: 0 8px;
	
  border-radius: 50%;

	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

/* profile thumb */
.profile {
	height: 40px;
	width: 40px;

	border-radius: 50%;
	overflow: hidden;
}

.profile__thumb {
	height: 100%;
	width: 100%;
}

/* header */
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background: var(--background-secondary);

	height: 54px;
	width: 100%;

	padding: 1.4rem 0;
	border-bottom: 1px solid var(--border);
}

/* header */
.header__logo-container {
	height: 3rem;
}

.header__logo {
	height: 100%;
}

.header__icons {
	display: flex;
}

.header__icon {
	margin-left: 14px;
}

.profile--icon {
	height: 24px;
	width: 24px;

	cursor: pointer;
}

/* stories */
.stories {
	display: flex;
	width: 100%;
	padding: 1.2rem 0;
	margin-top: 54px;
}

.stories__profile--new {
	background: var(--background-secondary);
}

.stories__position {
	position: absolute;
	z-index: 1;
}

.profile--new {
	height: 52px;
	width: 52px;
}

.profile__plus {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;

	height: 18px;
	width: 18px;

	border-radius: 50%;

	background: var(--background-secondary);
}

.plus__background {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--blue);
	height: 14px;
	width: 14px;;

	border-radius: 50%;
}

.plus__icon {
	width: 15px;
  height: 15px;
	stroke: var(--background-secondary);
	stroke-width: 3;
	padding: 1.2px;
}

.profile--stories {
	height: 52px;
	width: 52px;

	border: 2px solid var(--background-secondary);
}

/* posts */
.posts__item {
	display: flex;
	flex-direction: column;

	border-radius: 4px;
	border:  solid 1px var(--border);
	margin-bottom: 16px;
	
	background: var(--background-secondary);
}

/* post header */
.item__header {
	padding: 8px 10px;
}

.stories__profile--post {
	height: 44px;
	width: 44px;
	margin: 0;

	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.profile--post {
	height: 40px;
	width: 40px;

	border: 2px solid var(--background-secondary);
}

.profile__name {
	font-weight: bold;
	margin-left: 8px;
}

.item__menu {
	font-size: 1.6rem;
	color: var(--text);
}

/* post content */
.item__content {
	margin: 0;
	width: 100%;
}

.content__thumb {
	width: 100%;
}

/* post controls */
.item__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 4px 10px;
}

/* post likes */
.item__likes {
	display: flex;
	align-items: center;

	padding: 0 10px;
	margin-bottom: 5px;
}

.profile--likes {
	height: 16px;
	width: 16px;
}

.likes__name {
	margin-left: 8px;
}

/* post description */
.item__description {
	padding: 0 10px;
}

/* post comments */
.item__comments {
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
	line-height: 1.8rem;
}

.comments__qtd {
	color: var(--text-secondary);
}

/* post time */
.item__time {
	color: var(--text-secondary);
	font-size: 0.9rem;
	font-weight: 400;
	text-transform: uppercase;

	padding: 0 10px;
	margin-bottom: 8px;
}

.item__add-comment {
	display: none;
}

/* media queries */
@media (min-width: 768px) {
	body {
		font-size: 1.4rem;
	}

	.container {
		max-width: 768px;
	}

	.header__icon {
		margin-left: 18px;
	}
	
	/* new storie */
	.profile--new {
		height: 62px;
		width: 62px;
	}

	/* stories */
	.stories__profile {
		height: 68px; 
		width: 68px; 
	}

	.profile--stories {
		height: 62px;
		width: 62px;
	}

	/* post */
	.stories__profile--post {
		height: 46px;
		width: 46px;
	}

	.profile--post {
		height: 42px;
		width: 42px;
	}

	.item__header {
		padding: 10px 16px;
	}

	.profile--likes {
		height: 20px;
		width: 20px;
	}

	.item__controls {
		padding: 5px 16px;
	}
	
	.item__likes {
		padding: 0 16px;
		font-size: 1.4rem;
		margin-bottom: 8px;
	}
	
	.item__description,
	.item__comments {
		padding: 0 16px;
		line-height: 2.4rem;
	}

	.comments__qtd {
		font-size: 1.4rem;
	}

	.item__time {
		font-size: 1rem;
		line-height: 2.2rem;
	
		padding: 0 16px;
	}

	/* post add comment (deixa de ser display:none) */
	.item__add-comment {
		display: flex;

		padding: 8px 16px;

		border-top: solid 1px var(--border);
	}

	.add-comment__input {
		border: 0;
		width: 100%;
		font-size: 1.4rem;
		color: var(--text);
		padding: 8px 0;
	}

	/* altera cor da fonte do placeholder */
	.add-comment__input::-webkit-input-placeholder {
		color: var(--text-secondary);
		font-size: 1.4rem;
	 }

	 .add-comment__input::-moz-placeholder {
		color: var(--text-secondary);
		font-size: 1.4rem;
	 }

	 .add-comment__input:-moz-placeholder {
		color: var(--text-secondary);
		font-size: 1.4rem;
	 }

	 .add-comment__input:-ms-input-placeholder {
		color: var(--text-secondary);
		font-size: 1.4rem;
	 }

	 .add-comment__btn {
		text-decoration: none;
		cursor: default;
		color: var(--blue);
		font-weight: 600;
		margin-left: 8px;
		opacity: 0.3;
		transition: all 0.2s;
	}

	 .add-comment__input:focus {
		outline: none !important;
    border: 0;
    box-shadow: none;
	 }

	 .add-comment__input:focus:hover + .add-comment__btn{
		opacity: 1;
	 } 
}
