@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important; 
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	color: #000;
	background: #fafafa;
}

ul {
	list-style: none;
	display: flex;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 900px;
}

/* header */
header {
	background: #fff;

	height: 54px;
	width: 100%;
	padding: 1.4rem 0;

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* nav */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__logo {
	height: 3rem;
}

.nav__logo img {
	height: 100%;
}

.nav__direct {
	font-size: 1.6rem;
	color: #000;
}

.stories {
	display: flex;

	width: 100%;
	padding: 2.4rem 0;
}

.stories__item {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 78px;
	width: 78px;
	margin: 0 8px;
	
  border-radius: 50%;

	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.stories__thumb {
	height: 72px;
	width: 72px;

	border-radius: 50%;
	border: 2px solid #fff;

	overflow: hidden;
}

.stories__thumb img {
	height: 100%;
}